## Atividade 02

# Exercícios

Vamos praticar a criação de várias expectativas para um dataset público. 
Para isso, vamos utilizar o dataset Titanic disponível no Kaggle. 
Este dataset contém informações sobre os passageiros do navio Titanic, incluindo informações como nome, idade, sexo, classe da cabine e se sobreviveram ou não ao naufrágio.

### 1. Importando os dados

1.1 Crie um objeto DataContext

In [ ]:
#Instalar a biblioteca para trabalhar com arquivo excel (xlsx) se ja estiver essa biblioteca instalada, nao 
#executar esta etapa
!pip install great_expectations==0.16.3

In [126]:
#Import bibliotecas para o exercicio
import great_expectations as gx
import pandas as pd

#Criando contexto
context =  gx.get_context()
context

{
  "anonymous_usage_statistics": {
    "explicit_url": false,
    "data_context_id": "d4300bfc-16f0-4882-a2fb-607fa126bba5",
    "enabled": true,
    "usage_statistics_url": "https://stats.greatexpectations.io/great_expectations/v1/usage_statistics",
    "explicit_id": true
  },
  "checkpoint_store_name": "checkpoint_store",
  "config_variables_file_path": "uncommitted/config_variables.yml",
  "config_version": 3.0,
  "data_docs_sites": {
    "local_site": {
      "class_name": "SiteBuilder",
      "show_how_to_buttons": true,
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted\\data_docs\\local_site"
      },
      "site_index_builder": {
        "class_name": "DefaultSiteIndexBuilder"
      }
    }
  },
  "datasources": {},
  "evaluation_parameter_store_name": "evaluation_parameter_store",
  "expectations_store_name": "expectations_store",
  "include_rendered_content": {
    "globally": false,
    "expectation_validation_result": false,
    "expectation_suite": false
  },
  "plugins_directory": "plugins/",
  "stores": {
    "expectations_store": {
      "class_name": "ExpectationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "expectations/"
      }
    },
    "validations_store": {
      "class_name": "ValidationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted/validations/"
      }
    },
    "evaluation_parameter_store": {
      "class_name": "EvaluationParameterStore"
    },
    "checkpoint_store": {
      "class_name": "CheckpointStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "checkpoints/"
      }
    },
    "profiler_store": {
      "class_name": "ProfilerStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "profilers/"
      }
    }
  },
  "validations_store_name": "validations_store"
}

1.2 Crie um validator e carregue o dataset Titanic: https://storage.googleapis.com/tf-datasets/titanic/train.csv

In [127]:
#Validador para receber os dados do csv train_and_test2.csv'
validador = context.sources.pandas_default.read_csv('./dados/atividade2/train_and_test2.csv')
validador.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [128]:
#carregando os dados do csv para o df titanic'
df_titanic = pd.read_csv('./dados/atividade2/train_and_test2.csv')
df_titanic.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

### 2. Definindo expectativas

Agora que temos o dataframe, podemos começar a criar expectativas sobre os dados.

2.1 Crie uma expectativa que defina que as colunas do dataframe estão na ordem correta.

In [148]:
#listando os nomes das colunas do df titanic
list_columns = list(df_titanic.columns)
list_columns

['Passengerid',
 'Age',
 'Fare',
 'Sex',
 'sibsp',
 'zero',
 'zero.1',
 'zero.2',
 'zero.3',
 'zero.4',
 'zero.5',
 'zero.6',
 'Parch',
 'zero.7',
 'zero.8',
 'zero.9',
 'zero.10',
 'zero.11',
 'zero.12',
 'zero.13',
 'zero.14',
 'Pclass',
 'zero.15',
 'zero.16',
 'Embarked',
 'zero.17',
 'zero.18',
 '2urvived']

In [130]:
#Validar a ordem das colunas
validation_result = validador.expect_table_columns_to_match_ordered_list(list_columns)

if validation_result['success']:
    print('Ordem CORRETA da(s) coluna(s)')
else:
    print('Ordem ERRADA da(s) coluna(s)')
    
validation_result

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

Ordem CORRETA da(s) coluna(s)

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "observed_value": [
      "Passengerid",
      "Age",
      "Fare",
      "Sex",
      "sibsp",
      "zero",
      "zero.1",
      "zero.2",
      "zero.3",
      "zero.4",
      "zero.5",
      "zero.6",
      "Parch",
      "zero.7",
      "zero.8",
      "zero.9",
      "zero.10",
      "zero.11",
      "zero.12",
      "zero.13",
      "zero.14",
      "Pclass",
      "zero.15",
      "zero.16",
      "Embarked",
      "zero.17",
      "zero.18",
      "2urvived"
    ]
  },
  "success": true
}

2.2 Agora crie uma expectativa para verificar se os valores da coluna "Survived" só podem ser 0 ou 1.

In [131]:
#Expectativa e validacao dos voalores da coluna 2urvived
validation_result = validador.expect_column_values_to_be_in_set(column='2urvived', value_set=[0,1])

if validation_result['success']:
    print('Valor(es) CORRETO(S)')
else:
    print('Valor(es) ERRADO(S)')
    
validation_result

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

Valores CORRETOS

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 1309,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "success": true
}

2.3 Defina que a coluna "Pclass" só pode ter valores de 1 a 3.

In [132]:
#Definindo os valores para a coluna Pclass e validando depois
validation_result = validador.expect_column_values_to_be_between (column='Pclass', min_value=1, max_value=3)

if validation_result['success']:
    print('Valor(es) CORRETO(S)')
else:
    print('Valor(es) ERRADO(S)')
    
validation_result

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

Valores CORRETOS

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 1309,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "success": true
}

2.4 Crie expectativas para verificar se as colunas "Survived" e "Pclass" existem no dataframe.

In [134]:
#criar expectativa para a coluna 2urvived
validador.expect_column_to_exist(column = '2urvived')

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {},
  "success": true
}

In [135]:
#criar expectativa para a coluna Pclass
validador.expect_column_to_exist(column = 'Pclass')

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {},
  "success": true
}

In [149]:
#Valicacoes de existencia das colunas 2urvived e Pclass
validation_result = validador.expect_column_to_exist(column='2urvived' and 'Pclass')

if validation_result['success']:
    print('A(s) coluna(s) existe(m)')
else:
    print('A(s) coluna(s) não existe(m)')
    
validation_result

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

A(s) coluna(s) existe(m)

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {},
  "success": true
}

2.5 Verifique se os valores das colunas "Age" e "Fare" não são nulos e se estão dentro de um intervalo razoável (0 a 100 para "Age" w 0 a 100 para "Fare".

In [150]:
#validacoes se os valores nao sao nulos das colunas Age e Fare
validation_result = validador.expect_column_values_to_not_be_null(['Age','Fare'])

if validation_result['success']:
    print('A(s) coluna(s) nao possui(em) valore(es Nulo(s)')
else:
    print('A(s) coluna(s) possui(em) valore(es Nulo(s)')
    
validation_result

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

A(s) coluna(s) nao possui(em) valore(es Nulo(s)

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 1309,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [
      "Age",
      "Fare"
    ]
  },
  "success": true
}

In [166]:
#validacoes se os valores estao entre 0 e 100
validation_result = validador.expect_column_values_to_be_between(column = 'Age' and 'Fare', min_value = 0, max_value = 100)

if validation_result['success']:
    print('Valore(s) dentro do intervalo')
else:
    print('Valore(s) fora do intervalo')
    
validation_result

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

Valore(s) fora do intervalo

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 1309,
    "unexpected_count": 84,
    "unexpected_percent": 6.417112299465241,
    "partial_unexpected_list": [
      263.0,
      146.5208,
      263.0,
      247.5208,
      146.5208,
      113.275,
      512.3292,
      153.4625,
      135.6333,
      151.55,
      247.5208,
      151.55,
      110.8833,
      108.9,
      262.375,
      164.8667,
      134.5,
      135.6333,
      153.4625,
      133.65
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 6.417112299465241,
    "unexpected_percent_nonmissing": 6.417112299465241
  },
  "success": false
}

In [152]:
#validacoes se os valores nao sao nulos das colunas Age e Fare
validation_result=validador.expect_column_unique_value_count_to_be_between(column = 'Age', min_value = 0, max_value = 100)

if validation_result['success']:
    print('A(s) coluna(s) nao possui(em) valore(es Nulo(s)')
else:
    print('A(s) coluna(s) possui(em) valore(es Nulo(s)')
    
validation_result

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

A(s) coluna(s) nao possui(em) valore(es Nulo(s)

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "observed_value": 98
  },
  "success": true
}

2.6 Define que a coluna "Sex" só pode ter os valores "male" ou "female".

In [169]:
#Definicao se os valores de sex
validation_result = validador.expect_column_values_to_be_in_set(column='Sex', value_set=['male','female'])

if validation_result['success']:
    print('Valor(es) CORRETO(S)')
else:
    print('Valor(es) ERRADO(S)')
    
validation_result

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

Os valores estão ERRADOS

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 1309,
    "unexpected_count": 1309,
    "unexpected_percent": 100.0,
    "partial_unexpected_list": [
      0,
      1,
      1,
      1,
      0,
      0,
      0,
      0,
      1,
      1,
      1,
      1,
      0,
      0,
      1,
      1,
      0,
      0,
      1,
      1
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 100.0,
    "unexpected_percent_nonmissing": 100.0
  },
  "success": false
}

In [170]:
#Validacao valores de sex
validador.expect_column_most_common_value_to_be_in_set('Sex', [0, 1])

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "observed_value": [
      0
    ]
  },
  "success": true
}

In [141]:
validador.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

### 3. Executando as Expectativas

3.1 Defina um Checkpoint e execute-o para receber os resultados do validator.

In [142]:
#Definir Checkpoint
checkpoint = gx.checkpoint.SimpleCheckpoint(
    name = "my_quickstart_checkpoint",
    data_context = context,
    validator = validador
)

In [143]:
#Validar resultado do checkpoint
checkpoint_result = checkpoint.run()

Calculating Metrics:   0%|          | 0/36 [00:00<?, ?it/s]

An unexpected Exception occurred during data docs rendering.  Because of this error, certain parts of data docs will not be rendered properly and/or may not appear altogether.  Please use the trace, included in this message, to diagnose and repair the underlying issue.  Detailed information follows:
                TypeError: "unhashable type: 'list'".  Traceback: "Traceback (most recent call last):
  File "c:\Users\wilha\AppData\Local\Programs\Python\Python311\Lib\site-packages\great_expectations\render\renderer\site_builder.py", line 474, in build
    rendered_content = self.renderer_class.render(resource)
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\wilha\AppData\Local\Programs\Python\Python311\Lib\site-packages\great_expectations\render\renderer\page_renderer.py", line 109, in render
    columns = self._group_evrs_by_column(validation_results, expectation_suite_name)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\wilha\AppData\Local\Programs\Python\Python311\Lib\site-packages\great_expectations\render\renderer\page_renderer.py", line 202, in _group_evrs_by_column
    columns[column].append(evr)
    ~~~~~~~^^^^^^^^
TypeError: unhashable type: 'list'
".

In [144]:
#Incluir informacoes no data doc
context.build_data_docs()

An unexpected Exception occurred during data docs rendering.  Because of this error, certain parts of data docs will not be rendered properly and/or may not appear altogether.  Please use the trace, included in this message, to diagnose and repair the underlying issue.  Detailed information follows:
                TypeError: "unhashable type: 'list'".  Traceback: "Traceback (most recent call last):
  File "c:\Users\wilha\AppData\Local\Programs\Python\Python311\Lib\site-packages\great_expectations\render\renderer\site_builder.py", line 474, in build
    rendered_content = self.renderer_class.render(resource)
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\wilha\AppData\Local\Programs\Python\Python311\Lib\site-packages\great_expectations\render\renderer\page_renderer.py", line 109, in render
    columns = self._group_evrs_by_column(validation_results, expectation_suite_name)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\wilha\AppData\Local\Programs\Python\Python311\Lib\site-packages\great_expectations\render\renderer\page_renderer.py", line 202, in _group_evrs_by_column
    columns[column].append(evr)
    ~~~~~~~^^^^^^^^
TypeError: unhashable type: 'list'
".
An unexpected Exception occurred during data docs rendering.  Because of this error, certain parts of data docs will not be rendered properly and/or may not appear altogether.  Please use the trace, included in this message, to diagnose and repair the underlying issue.  Detailed information follows:
                TypeError: "unhashable type: 'list'".  Traceback: "Traceback (most recent call last):
  File "c:\Users\wilha\AppData\Local\Programs\Python\Python311\Lib\site-packages\great_expectations\render\renderer\site_builder.py", line 474, in build
    rendered_content = self.renderer_class.render(resource)
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\wilha\AppData\Local\Programs\Python\Python311\Lib\site-packages\great_expectations\render\renderer\page_renderer.py", line 109, in render
    columns = self._group_evrs_by_column(validation_results, expectation_suite_name)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\wilha\AppData\Local\Programs\Python\Python311\Lib\site-packages\great_expectations\render\renderer\page_renderer.py", line 202, in _group_evrs_by_column
    columns[column].append(evr)
    ~~~~~~~^^^^^^^^
TypeError: unhashable type: 'list'
".

{'local_site': 'file://c:\\WILLIAN\\2023\\ADA\\ED-NA-005 Analytics Engineering\\data_analytics_engineering-main\\great_expectations\\uncommitted\\data_docs\\local_site\\index.html'}

In [145]:
#Abrir data doc
context.open_data_docs()

In [146]:
context.convert_to_file_context()

AttributeError: 'FileDataContext' object has no attribute 'convert_to_file_context'

In [ ]:
context